
/*******************************
            Global
*******************************/

html, body {
  font-size: 14px;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, .menu, header p {
  Font-family: 'Quattrocento', serif;
  text-rendering: optimizeLegibility;
}

nav{
 Font-family: 'Montserrat', serif;
  text-rendering: optimizeLegibility; 
}

body {
  background-color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility;
}

p {
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

body > .page {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
  padding: 0px 0px 50px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body > .page > .content {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

body > footer {
  height: 50px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

header .grid,
footer.grid {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.segment {
  background-color: #DEDEDE !important;
}


/*******************************
            Header
*******************************/

/* Standard */
h1,
h2,
h3,
h4,
h5 {
  border: none;
  margin: 2em 0em 1rem;
  padding: 0em;

  font-size: 1.33em;
  font-weight: bold;
  line-height: 1.33;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin-top: 0em;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child {
  margin-bottom: 0em;
}

/*--------------
  Page Heading
---------------*/

h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.33rem;
  color: #B55400;
}
h3 {
  font-size: 1.1rem;
}
h4 {
  font-size: 1.1rem;
}
h5 {
  font-size: 1rem;
}

/*******************************
             Banner
*******************************/

.banner {
  height: 250px;
  overflow: hidden;

  background: url(../images/virginia-beach-investments.jpg);
  background-size: cover;
  background-position: 50% 50%;
}
.banner img {
  margin-top: -400px;
}
.banner .callout {
  position:  absolute;
  top: 215px;
  right: 6%;
  padding: 25px 40px;
  background-color:  #b55400;
  width: 595px;
}
.banner h2, .content .item h2 {
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 0px;
}
.banner p, .content .item p {
  color: #eee;
}

/*******************************
          Home Content
*******************************/

.content blockquote {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  border-left: 3px solid #B55400;
  font-size: 1.33em;
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
}
.content p {
  margin: 15px 0;
}
.content ul {
  margin-bottom: 25px;
}
.content ul li {
  list-style-type: square;
  margin: 15px 0px 15px 25px;
}
.content ul li a {
  color: #b55400;
  text-decoration: none;
}
.content ul li a: hover {
  color: #e86c00;
}


.cta {
  background-color: #dedede;
  padding: 5px 25px;
}
.cta img {
  margin: 0 auto;
  padding-top: 15px;
}
.cta a {
  color: #B55400;
  text-decoration: none;
}
.cta a:hover {
  color: #cf6006;
}

/*******************************
            Sidebar
*******************************/

.sidebar {
  background-color: #DEDEDE;
  padding: 15px;
}
.sidebar h3 {
  color: #B55400;
  font-weight: bold;
}
.sidebar ul li {
  list-style-type: none;
}
.content .sidebar ul li a {
  color: #000;
  text-decoration: none;
}
.content .sidebar ul li a: hover {
  color: #555;
}
.content .sidebar ul {
  margin-top: 10px;
}
.content .sidebar ul li {
  margin: 0 0 6px 0;
}


footer.grid {
  background-color: #595959;
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
  color: #EFEFEF;
  width: 100%;
}
footer a, footer ul li a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
footer h3 {
  margin-top: 0em;
}
footer a:hover {
  color: #FFFFFF;
}
footer p {
  font-size: 12px;
  line-height: 1.6;
}
footer span {
  display: inline-block;
  font-size: 12px;
}

footer .ui.sitemap > .section {
  font-size: 12px;
}

/*******************************
            About
*******************************/

#about .content, #services .content {
  margin-top:25px;
}
#about .content h3 {
  color:#B55400;
  font-size:16px;
  font-weight:bold;
  margin-top:25px;
}
#about .content h3 + p {
  color:#666;
  margin-top:0;
}

#contact .wrap iframe{
  margin:25px 0;
  padding:0 15px;
}
#contact .content a {
  color: #B55400;
}
