header {
  background-color:  #FFFFFF;
  color: #555555;
  width: 100%;
}
header address {
  font-size: 0.8rem;
  text-align: right;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.6);
}
header img {
  max-width: 500px;
}
header nav  {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
header nav {
  background-color: #DEC8A1;
}
header nav a {
  color: rgba(0, 0, 0, 0.5);
  margin-right: 35px;
  font-size: 0.9em;
  text-decoration: none;

  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
header nav a:hover {
  color: #FFFFFF;
}
nav .active,
nav .active:hover {
  color: #B55400;
  border-bottom: 2px solid #B55400;
}

header nav img {
  display: inline-block;
  margin: 2px 35px 0px 0px !important;
  vertical-align: top;
  -webkit-transition: width 0.2s ease;
  -moz-transition: width 0.2s ease;
  -o-transition: width 0.2s ease;
  -ms-transition: width 0.2s ease;
  transition: width 0.2s ease;
}
nav.affix {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 100;
}
nav.affix + .placeholder {
  display: block;
  height: 49px;
}
header nav.affix img {
}
